.card_infos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .cards {
    position: relative;
    right: 120px;
    padding: 61px 0;

    .card1 {
      position: relative;
      right: 120px;
      padding: 61px 0;
    }
  }
}
label {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0069d9;
  }

  .date_ex{
    display: flex;
    gap: 20px;
  }